.gallerize {
  width: 100%;
}

.gallerize:after {
  position: relative;
  display: block;
  clear: both;
  content: '';
}

.float-gallerize {
  display: block;
  float: left;
  box-sizing: border-box;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
